{
  "extends"      : [
    "plugin:node/recommended",
    "@hapi/hapi"
  ],
  "env": {
    "node": true,
    "es6": true
  },
  "parserOptions": {
    "ecmaVersion": 2021
  },
  "plugins"      : [
    "security"
  ],
  "rules"        : {
    "key-spacing": "off"
  }
}
