# IGNORE ALL
*

# ADD CODE
!src/
!src/**
!test
!test/**
!scripts
!scripts/**

# ADD METADATA FILE
!.npmignore
!.eslintrc
!.gitignore
!package.json
!.travis.yml

# ADD DOCKER FILES
!.dockerignore
!docker-compose.yml
!Dockerfile

# ADD DOC FILE
!*.env.example
!LICENSE
!README.md
