# IGNORE ALL
*

# ADD CODE
!src/
!src/**
!lib/
!lib/**
!test
!test/**
!scripts
!scripts/**

# ADD METADATA FILE
!.npmignore
!.eslintrc
!.gitignore
!package.json
!package-lock.json
!.travis.yml
!.babelrc
!.github/**
!.github
!.releaserc.js
!.eslintignore
!eslint.config.cjs
!eslint.config.mjs
!tsconfig.json
!.editorconfig

# ADD DOCKER FILES
!.dockerignore
!docker-compose.yml
!Dockerfile

# ADD DOC FILE
!*.env.example
!LICENSE
!README.md
