# IGNORE ALL
*

# ADD CODE
!index.js
!commands
!commands/*
!test
!test/*

# REMOVE ENV FILES
*.env

# ADD METADATA FILE
!.npmignore
!.eslintrc
!.gitignore
!package.json
!.travis.yml

# ADD DOCKER FILES
!.dockerignore
!Dockerfile

# ADD DOC FILE
!*.env.example
!LICENSE
!README.md
