name: ESLint
on:
  push:
    branches:
    - master
  pull_request:
    branches:
    - master
jobs:
  eslint:
    name: ESLint
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v5
        with:
          fetch-depth: 0
          persist-credentials: false

      - name: Setup Node.js
        uses: actions/setup-node@v3
        with:
          node-version: '24'
          cache: npm

      - name: Install dependencies
        run: npm ci

      - name: ESLint
        run: npm run eslint
